*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

Body{
    background-color: #eee;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    display: flex;
    width: 100vw;
    height: 70px;
    background-color: #2a2a2a;
    flex-direction: row;
    padding: 20px;
    align-items: center;
}

header nav{
    margin-left: 30vw;
}

header .title{
    color: white;
    margin-left: 100px;
}

header nav a{
    margin-left: 20px;
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    border-radius: 15px;
    font-size: 20px;
}

header nav a:hover{
    color: #eee;
    background-color: #007bff;
    transition: all .7s;
}

.menu-adaptive{
    color: white;
    font-size: 25px;
    cursor: pointer;
    display: none;
}

/* MENU TELEFONOS */
.menu-toggle{
    width: 300px;
    height: 100%;
    position: absolute;
    background-color: #000;
    transform: translateX(-100%);
    opacity: .7;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -70px;
    transition: opacity 1s, transform 1.6s;
    position: fixed;
}

a{
    text-decoration: none;
    color: white;
}



.close-icon {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px;
    color: white;
    font-size: 25px;
    cursor: pointer;
    /* Añade estilos adicionales según tus preferencias */
}

.menu-toggle a{
    margin-top: 30px;
    padding: 10px 20px;
    border-radius: 12px;
}

.menu-toggle a:hover{
    color: #eee;
    background-color: #007bff;
    transition: .8s;
}

/*Media Queries*/
@media screen and (max-width: 1131px){
    header nav{
        margin-left: 17vw;
    }

    header nav a{
        margin-left: 5px;
    }
}

@media screen and (max-width: 874px){
    header nav{
        margin-left: 12vw;
    }

    header nav a{
        margin-left: 5px;
    }

    header .title{
        margin-left: 20px;
    }
}

@media screen and (max-width: 738px){
    header nav{
        display: none;
    }

    header .menu-adaptive{
        display: flex;
        margin-left: 83%;
    }

    
}

@media screen and (max-width: 626px){
    header .menu-adaptive{
        margin-left: 70vw;
    }
}

@media screen and (max-width: 448px){
    header .menu-adaptive{
        margin-left: 60vw;
    }
}

@media screen and (max-width: 336px){
    header .menu-adaptive{
        margin-left: 55vw;
    }
}